@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Sunflower";
    font-weight: 300;
    font-style: normal;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.search-bar{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}

#submit{
    margin:0 10px 0 6px;
    padding: 5px;
    border: 1px solid rgb(156, 225, 232);
    border-radius: 4px;
}

#submit:hover{
    cursor: pointer;
}

#location{
    padding: 10px 18px;
    border-radius: 8px;
    border: 1px solid rgb(156, 225, 232);
    background-color: rgba(255,255,255, 0.6);
    outline: none;
}

#location:focus{
     border: 1px solid rgb(193, 86, 9);
}

.container{
    height: calc(100vh - 67.7px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.6),
     1px -1px 0 rgba(0, 0, 0, 0.6),
    -1px  1px 0 rgba(0, 0, 0, 0.6),
     1px  1px 0 rgba(0, 0, 0, 0.6);
}

.sub-data{
    font-size: 1.5rem;
    font-weight: 600;
}

.address{
    font-size: 3rem;
}
.weather,.temprature{
    font-size: 4rem;
}

.loading{
    display: none;
}